

.tags {
    display:flex;
    align-content: center;
    justify-content: flex-start;
    gap:10px;
    margin-top: 25px;
    flex-wrap:wrap;  /** pour assurer le bon affichage des boutons au delà de 4 tags sans modifier la taille police ou largeur boutons **/

    button {
        background-color: $second-color;
        color:$primary-color;
        font-size:14px;
        font-weight:700;
        border-radius:10px;
        border:none;
        width:115px;
        min-height:25px;
    }
}


/**  MEDIA QUERIES **/

@media (max-width: 768px) {

    .tags {
        margin-top: 10px;
       /** height: 18px; /**   suppression pour essai **/
       button{
        font-size:11px;
        width:84px;
        font-size:10px;
       }
    }
}

