//** Animation de la fleche d'ouverture et fermeture Collapse.

.arrow {
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  
  .arrow-up {
    transform: rotate(180deg); /* Flèche vers le haut par défaut */
  }
  
  .arrow-down {
    transform: rotate(0deg); /* Flèche vers le bas pour indiquer que l'élément est ouvert */
  }


  //** Animation fadein  item  Collapse.

  // Pour ouverture Collapse
  .fade-in {
    animation: fadeIn 0.4s ease forwards;

  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Pour fermeture Collapse
  .fade-out {
    animation: fadeOut 0.4s ease forwards;
  }
  

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
