@import '../../styles/main.scss';


.slider-container {
    position:relative;
    width:100%;
    margin-top:50px;
   
    .arrow-left {
        width:47px;
        height:79px;
        position:absolute;
        left:25px;
        top:157px;
    }
    .slider-img{
        width:100%;
        height:415px;
        border-radius:25px;
        object-fit:cover;
    }

    .arrow-right {
        width:47px;
        height:79px;
        position:absolute;
        right:25px;
        top:157px;
    }
}


/**  MEDIA QUERIES **/

@media (max-width: 550px) {
    .slider-container {

        .arrow-left {
            width:24px;
            height:24px;
            top:118px;
            left:4px;

        }
        .slider-img {
            height:255px;
        }
        
        .arrow-right {
            width:24px;
            height:24px;
            top:118px;
            right:4px;

        }
    }

}
